*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
	--color-buttom-bottom: #4a4a4a;
	--color-footer: #222222;
	--color-bg-body: #000000;
	--color-color-icon: #ffffff;
	--color-btn-share: #4bc800;
}
body{
    width: 100vw;
    background-color: var(--color-btn-share);
}
.debug{
    border: solid 1px black;
}

.d-flex{
    display: flex;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
   
    /* padding: 5px; */
}

.pinco-img{
    width: calc(100% / 7);
}