*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
	--color-buttom-bottom: #4a4a4a;
	--color-footer: #222222;
	--color-bg-body: #000000;
	--color-color-icon: #ffffff;
	--color-btn-share: #4bc800;
}
body{    
    background-color: var(--color-btn-share);
    width: 100%;
    height: 100%;
   

}
/* .debug{
    border: solid  black;
} */
.cell{
    margin: 5px;
}
.btn{
    background-color: var(--color-buttom-bottom);
    color: var(--color-color-icon);
    border-radius: 5px;
    padding: 5px;
 
}
.bcd{
    position: absolute;
}
.container{
    width: 100%;
   
    height: calc(100vh - 100px);
}

.align-content{
    align-content: flex-start;
}
.align-items{
    align-items: flex-start;
}
.f-right{
    /* margin: 20px 30px; */
    float: right;
}
a{
    text-decoration: none;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    line-height: 0;
}

header{
    height: 50px;
}
main{
    height: calc(100vh - 150px);  
    overflow-y: auto;
    background-color: white;
}

footer{
    height: 50px; 
    position: absolute;
}

.pinco-img{
   height: calc(100vh / 5 - 10px); 
   width: calc(100% / 7); 
   position: relative;
  
   }
/* main */

ul.d-flex{
    list-style: none;
    color: var(--color-color-icon);
}


.card-zoom{
   width: 100%;   
   position: absolute;
}
.nav-bar{
    position: fixed;
    z-index: 1000;
    position: relative;
    margin-top: 50px;
    
}
 
